.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.zuikiukas {
  color: pink;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.vov {
  color: red;
}

.bebriukas {
  color: blue;
}

.beb {
  background-color: black;
  color: white;
}

.laukas {
    background-color: green;
    color: white;
}

.vov {
  color: brown;
}

.BS {
  width: 50px;
  height: 50px;
  background: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.RS {
  width: 50px;
  height: 50px;
  background: #f40707;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.horizontal-holder {
  display: flex;
  flex-direction: new;
  flex-wrap: wrap;
}

.S {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 500px;
}

.buttons button {
  min-width: 50px;
}

.kvc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 500px;
}

.linija {
  margin: 20px;
  border: 2px dotted tomato;
  padding: 10px;
}


.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: tomato;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: tomato;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
      transform: scale(0.95);
  }
  5% {
      transform: scale(1.1);
  }
  39% {
      transform: scale(0.85);
  }
  45% {
      transform: scale(1);
  }
  60% {
      transform: scale(0.95);
  }
  100% {
      transform: scale(0.9);
  }
}

