* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .top {
        height: 100px;
        background-color: cornflowerblue;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h1 {
            color: orangered;
            margin: 0 50px;
            font-size: 50px;
            letter-spacing: 3px;
        }
    }
    .bottom {
        height: 100px;
        background-color: cornflowerblue;
        width: 100%;
    }
    .content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        .read {
            width: 100%;
        }
        .create,
        .read {
            margin: 20px;
            border: 1px solid crimson;
            border-radius: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            .header {
                padding: 15px;
                border: 1px solid crimson;
                background-color: crimson;
                border-top-left-radius: 9px;
                border-top-right-radius: 9px;
                width: 100%;
                h2 {
                    text-align: center;
                    width: 100%;
                    color: white;
                    margin: 0;
                }
            }
            .form {
                margin-top: 30px;
                input,
                select {
                    border: 1px solid gray;
                    border-radius: 4px;
                    font-size: 20px;
                    outline: none;
                    padding: 4px;
                }
                select {
                    width: 100%;
                }
                [type=text] {
                    width: 100%;
                }
                input[type="checkbox"] {
                    display: grid;
                    place-content: center;
                }
                input[type="checkbox"] {
                    position: relative;
                    width: 1.3em;
                    height: 1.3em;
                    color: black;
                    border: 1px solid gray;
                    border-radius: 4px;
                    appearance: none;
                    outline: 0;
                    cursor: pointer;
                    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
                    &::before {
                        position: absolute;
                        content: '';
                        display: block;
                        top: 2px;
                        left: 7px;
                        width: 8px;
                        height: 14px;
                        border-style: solid;
                        border-color: white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                        opacity: 0;
                    }
                    &:checked {
                        color: white;
                        border-color: crimson;
                        background: crimson;
                        &::before {
                            opacity: 1;
                        }
                        ~label::before {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                    }
                }
                .input {
                    display: flex;
                    align-items: center;
                    margin: 17px;
                    label {
                        margin: 5px;
                        font-size: 20px;
                        display: inline-block;
                        width: 80px;
                    }
                    &.btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 15px;
                        button {
                            color: white;
                            padding: 10px 30px;
                            border-radius: 8px;
                            font-size: 20px;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            &.add {
                                background-color: cornflowerblue;
                            }
                        }
                    }
                }
            }
        }
    }
}